@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
:root {
  --cyan: hsl(180, 66%, 49%);
  --dark_violet: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish_violet: hsl(257, 7%, 63%);
  --very_dark_blue: hsl(255, 11%, 22%);
  --very_dark_violet: hsl(260, 8%, 14%);
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  position: relative;
}

.show {
  display: block;
}

#logo {
  top: 0;
}

#containerBurger {
  display: none;
  cursor: pointer;
  position: relative;
  position: absolute;
  right: 0;
  top: 0;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 800px) {
  #containerBurger {
    display: block;
  }
}
header {
  padding: 0 0vw 5vw 0vw;
  background-image: url("../images/illustration-working.svg");
  background-repeat: no-repeat;
  background-position: 110% bottom;
  background-size: 45vw;
  width: 80%;
  padding: 0 10% 5% 10%;
  margin: auto;
}

nav {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  align-items: center;
  padding-left: 0;
  margin-top: 2em;
  width: 100%;
  position: relative;
}
nav figure {
  margin: 0 2.5em 0 0;
}
nav .nav_list {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
}
nav .nav_list li {
  padding-right: 1.5em;
  font-weight: bolder;
  padding-bottom: 0.7em;
}
nav .nav_list li:hover {
  cursor: pointer;
  -webkit-filter: brightness(0%);
  -moz-filter: brightness(0%);
  filter: brightness(0%);
  transition: 0.5s filter;
}
nav .access {
  display: flex;
  justify-content: flex-end;
}
nav .access button {
  border: none;
  font-weight: bolder;
  padding: 0.8em 1.5em;
  border-radius: 3em;
  font-size: 1em;
  cursor: pointer;
}
nav .access .login {
  color: var(--grayish_violet);
  background-color: transparent;
}
nav .access .sign_up {
  background-color: var(--cyan);
  color: white;
}
nav .access .sign_up:hover {
  -webkit-filter: opacity(50%);
  -moz-filter: opacity(50%);
  filter: opacity(50%);
  transition: filter 0.5s;
}

.header_article {
  width: 60%;
  padding: 0;
}
.header_article .header_title {
  font-size: 5.333333333em;
  margin: 1em 0 0em 0;
  line-height: 100%;
}
.header_article .header_paragraph {
  margin: 0 0 1.5em 0;
  font-size: 1.6em;
  color: var(--grayish_violet);
}
.header_article .get_started {
  border: none;
  background-color: var(--cyan);
  padding: 0.8em 2em;
  font-size: 17px;
  color: white;
  font-weight: bolder;
  border-radius: 3em;
}
.header_article .get_started:hover {
  -webkit-filter: opacity(50%);
  -moz-filter: opacity(50%);
  filter: opacity(50%);
  transition: filter 0.5s;
  cursor: pointer;
}

.item1 {
  color: var(--grayish_violet);
}

.item2 {
  color: var(--grayish_violet);
}

.item3 {
  color: var(--grayish_violet);
}

@media screen and (max-width: 800px) {
  header {
    background-size: contain;
    background-position: 1em 30%;
    padding: 0 2em 30em 2em;
  }
  header nav {
    position: absolute;
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "items" "access";
  }
  header nav .logo {
    grid-area: logo;
  }
  header nav .nav_list {
    display: none;
    grid-area: items;
    flex-direction: column;
    margin: 1em 0 0 0;
    border-radius: 1em 1em 0 0;
    background-color: var(--very_dark_violet);
    padding: 2em 2em 1em 2em;
  }
  header nav .nav_list li {
    line-height: 300%;
    color: white;
    padding-left: 1.3em;
  }
  header nav .access {
    display: none;
    grid-area: access;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 1em 1em;
    margin: 0;
    color: white;
    background-color: var(--very_dark_violet);
    padding: 1em 2em 2em 2em;
  }
  header nav .access button {
    width: 80%;
    color: white !important;
  }

  .header_article {
    position: relative;
    top: 30em;
    width: 100%;
    text-align: center;
  }
  .header_article .header_title {
    font-size: 2.333333333em;
  }
  .header_article .header_paragraph {
    font-size: 1.2em;
  }
}
.shorten_link_form {
  text-align: center;
  border: solid red;
}

/*# sourceMappingURL=styles.css.map */
