@import 'mixins';

header {
    @include border(red);
    padding: 0 10vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-top: 2em;

    figure {
    	margin: 0 2.5em 0 0;
        //@include border(red);
        width: 100%;
    }

    .logo {
        //width: 100%;
       // @include border(yellow);
    }

    .nav_list {
        list-style-type: none;
        display: flex;
        align-items: center;
        //@include border(black);
        padding: 0;

        li {
        	padding-right: 1.5em;
        	font-weight: bolder;
        	padding-bottom: 0.7em;
        }
    }
    .access {
    	//@include border(orange);
    	button {
    		border: none;
    		font-weight: bolder;
    		padding: 0.8em 1.5em;
    		border-radius: 3em;
    		font-size: 1em;
    	}
    	.login {
    		color: var(--grayish_violet);
    		background-color: transparent;
    	}
    	.sign_up {
    		background-color: var(--cyan);
    		color: white;
    	}
    }
}

.header_article {
	@include border(green);
	width: 60%;
	padding: 0;
	.header_title {
		font-size: 80px;
		//@include border(red);
		margin: 1em 0 0em 0;
	}
	.header_paragraph {
		//@include border(violet);
		margin: 0 0 3em 0;
		font-size: 24px;
		color: var(--grayish_violet)
	}
}

@for $i from 1 to 4 {
    .item#{$i} {
        color: var(--grayish_violet);
    }
}