@import 'mixins';

header {
    @include border(red);
    padding: 0 0vw 5vw 0vw;
    background-image: url('../images/illustration-working.svg');
    background-repeat: no-repeat;
    background-position: 110% bottom; 
    background-size: 45vw;
    width: 80%;
    padding: 0 10% 5% 10%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-top: 2em;
    width: 100%;

    figure {
    	margin: 0 2.5em 0 0;
        //@include border(red);
        width: 100%;
    }

    .logo {
        //width: 100%;
       // @include border(yellow);
    }

    .nav_list {
        list-style-type: none;
        display: flex;
        align-items: center;
        //@include border(black);
        padding: 0;

        li {
        	padding-right: 1.5em;
        	font-weight: bolder;
        	padding-bottom: 0.7em;
        }
    }
    .access {
    	//@include border(orange);
    	button {
    		border: none;
    		font-weight: bolder;
    		padding: 0.8em 1.5em;
    		border-radius: 3em;
    		font-size: 1em;
    	}
    	.login {
    		color: var(--grayish_violet);
    		background-color: transparent;
    	}
    	.sign_up {
    		background-color: var(--cyan);
    		color: white;
    	}
    }
}

.header_article {
	//@include border(green);
	width: 60%;
	padding: 0;
	.header_title {
		font-size: 5.333333333em; // 80px / 15px
		//@include border(red);
		margin: 1em 0 0em 0;
		line-height: 100%;
	}
	.header_paragraph {
		//@include border(violet);
		margin: 0 0 1.5em 0;
		font-size: 1.6em; // 24px / 15px
		color: var(--grayish_violet)
	}
	.get_started {
		border: none;
		background-color: var(--cyan);
		padding: 0.8em 2em;
		font-size: 17px;
		color: white;
		font-weight: bolder;
		border-radius: 3em;
	}
}

@for $i from 1 to 4 {
    .item#{$i} {
        color: var(--grayish_violet);
    }
}

@media screen and (max-width: 800px) {
	header {
		background-size: 100%;
		background-position: 5em 30%;
		padding: 0 2em 30em 2em;
	}
	.header_article {
		position: relative;
		@include border(green);
		top: 30em;
		width: 100%;
		text-align: center;
	}
}