@mixin border($color) {
	border: solid $color;
}

@mixin box-shadow($x, $y, $blur, $spread_color) {
	-webkit-box-shadow: $X $y $blur $spread_color;
	-moz-box-shadow: $X $y $blur $spread_color;
	box-shadow: $X $y $blur $spread_color;
}

@mixin filter($function, $val) {
	@if $function == brightness {
		-webkit-filter: brightness($val);
		-moz-filter: brightness($val);
		filter: brightness($val);
	} @else if $function == grayscale {
		-webkit-filter: grayscale($val);
		-moz-filter: grayscale($val);
		filter: grayscale($val);
	} @else if $function == drop-shadow {
		-webkit-filter: drop-shadow($val);
		-moz-filter: drop-shadow($val);
		filter: drop-shadow($val);
	} @else if $function == opacity {
		-webkit-filter: opacity($val);
		-moz-filter: opacity($val);
		filter: opacity($val);
	}
}